<div class="whole-page">
  <div class="container pt-5 pb-5">
    <h2>Teacher Dashboard</h2>

    <div class="d-flex flex-row align-items-start">
      <!--    User info container::Left-->
      <div class="container mt-5 rounded-4 user-info-container p-3 w-50">
        <h4>Logged user info</h4>
        <p>
          <span> User email: </span>
          <span class="fw-bold"> {{loggedUser.email}} </span>
        </p>
        <p>
          <span> ID: </span>
          <span class="fw-bold">{{loggedUser.id}}</span>
        </p>

        <button class="btn btn-danger" (click)="logOut()">
          Logout
        </button>
      </div>

      <!--    Lessons and materials container::Middle  -->
      <div class="container mt-5 rounded-4 user-info-container p-3 ms-3 me-3">
        <div class="row"> <!-- Cap de tabel, titlu si edit button-->
          <div class="col-md-6">
            <h4>Lessons and Materials</h4>
          </div>
          <div class="col-md-6 d-flex flex-row-reverse justify-content-start">
            <button class="btn btn-info" (click)="editMode = !editMode">
              Edit
            </button>
            <button *ngIf="editMode"
                    class="btn btn-light me-2 color-moodle-orange"
                    (click)="goToPage('/dashboard/new-module')">
              Add new lesson
            </button>
          </div>
        </div>

        <div class="p-2">
          @for (learningModule of learningModules; track learningModule.wizardId) {
            <app-material-card [learningModule]="learningModule" [editMode]="editMode"></app-material-card>
          } @empty {
            <p>No material listed yet</p>
          }
        </div>
      </div>

      <!--    Forum container::Right  -->
      <div class="container mt-5 rounded-4 user-info-container p-3 w-50">
        <h4>Forum</h4>
        <h5>Hot topics</h5>
        <p>It's WIP</p>
      </div>
    </div>

  </div>

</div>

